*.hidden*

# Scripts
.venv
__pycache__
utils

.ruff.toml
.ruff_cache
Pipfile
Pipfile.lock

*.sh
*.py
*.pyc

# Distributable and config
dist
src

# Unnecessary to package
.git
.github
.gitignore
.gitmodules
.vscode

*.vsix

# Per-machine state
.env
bun.lockb
node_modules

# Submodule
hush/*
!hush/assets
