[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "5.0.0"
python-dotenv = "1.0.1"

[dev-packages]
ruff = "0.6.3"
black = "24.8.0"

[requires]
python_version = "3.12"
